/* CONTEUDO: Cabecalho da pagina */

header {
    background-color: #014F99;
    height: 50px; 
    margin-bottom: 30px;
 }

 header .cabecalho {
    width: 992px; 
    margin: 0px auto;
 }

 header .content {
    color: #FFF;
    font-size: 22px;
    font-weight: normal;
 }

 /* CONTEUDO: Projetos */

 #projeto {
   box-shadow: none;
   border-color: #E7E9E9;
   background-color: #F5F7F7;
 }

 #projeto h2 {
   font-weight: 700;
   font-size: 16px;
   text-transform: uppercase;
 }

 #projeto .item::before {
  content: none;
 }

/* CONTEUDO: Persona */

#persona {
  background: url(../img/persona_background.png);
  height: 326px;
  padding-top: 200px;
}

#persona_panel {
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid #FFF;
  padding-top: 10px;
  padding-left: 10px;
  height: 126px;
}


#main_content {
  width: 992px;
  margin: 0px auto;
}

